/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
* = require grails
* = require main
* = require mobile
*= require_self
*/
.profile{
	height: 500px;
}
.profile-democrat {
	background-color: rgba(255, 0, 0, 0.5);
}
.profile-republic {
	background-color: rgba(0, 0, 255, 0.5);
}

.profile-image {
	width: 90%;
	height: 90%;
	margin-top: 5%;
	margin-left: 5%;
}

.margin-2 {
	margin: 2px;
}

.twitter-jargons {
	letter-spacing: .02em;
	text-transform: uppercase;
	text-align: center !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration: underline;
}